<div class="container py-5">
  <div class="row col-lg-6 mx-auto">
      <div class="card text-center">
          <div class="card-header">
            <ul class="nav nav-pills card-header-pills">
              <li class="nav-item">
                <a class="nav-link active" data-toggle="tab" href="#tab1">Summary</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" data-toggle="tab" href="#tab2">Deposit</a>
              </li>
              <li class="nav-item">
                <a class="nav-link"  data-toggle="tab"href="#tab3">Withdraw</a>
              </li>
            </ul>
          </div>
          <div class="card-body tab-content">
            <p id="tab1" class="tab-pane fade in active">Hello</p>
            <p id="tab2" class="tab-pane fade">Hello1</p>
            <p id="tab3" class="tab-pane fade">Hello2</p>
            <h5 class="card-title">Special title treatment</h5>
            <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
            <a href="#" class="btn btn-primary">Go somewhere</a>
          </div>
        </div>
  </div>
</div>